.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #1f2937;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 0.5rem;
  }
}

.card {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.inputGroup {
  position: relative;

  input {
    width: 100%;
    padding: 0.75rem 2.5rem 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;

    &:focus {
      border-color: #3b82f6;
    }
  }

  .icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
  }
}

.botaoPrincipal {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #3b82f6;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #2563eb;
  }
}

.botaoIcone {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  transition: background 0.2s;

  svg {
    color: #374151;
    transition: transform 0.2s ease;
  }
  
 

  &:hover {
    background-color: #d7deec;

    svg {
      transform: scale(1.15);
      color: #2563eb;
    }
  }
}


.tabela {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;

    thead {
      background-color: #f1f5f9;

      th {
        padding: 1rem;
        font-weight: 600;
        color: #374151;
        text-align: center;
        vertical-align: middle;
      }
    }
.semDados {
  text-align: center;
  padding: 1rem;
  color: rgb(212, 11, 11);
  font-style: italic;
}

    tbody {
      tr {
        border-bottom: 1px solid #e5e7eb;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f9fafb;
        }

        td {
          padding: 1rem;
          color: #374151;
          text-align: center;
          vertical-align: middle;
          font-size: 0.95rem;
        }

        td:last-child,
        td:nth-last-child(2) {
          width: 80px;
        }
      }
    }
  }
}
