*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
    outline: 0;
          font-family: "poppins", Helvetica, sans-serif;

    



}

:root{
    --corDeFundo: #101026;
    --red: #ff3f4b;
}


body{
    background-color: var(--corDeFundo);

}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

body, select, input, button, textarea{
    font: 400, 1rem sans-serif;
}

@media (max-width:720px){

    html{
        font-size: 87.5%;
    }
}

@media (max-width:1080px){

    html{
        font-size: 94%;
    }
}