.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 20px;
    background-color: #055505;

  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;

}

.submitButton:hover {
  background-color: #4caf50;
}

.submitButton:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.spinnerIcon {
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
